<% show_user = (show_user == false) ? false : true %>
<% show_wine = (show_wine == false) ? false : true %>
<% search = (search == true) ? true : false %>
<% sort = (sort == true) ? true : false %>

<table id="tasting_table<%= search ? "" : "nosearch" %>">
	<thead>
	<tr>
    <% if show_wine %><th><a>Wine</a></th><% end %>
    <% if show_user %><th><a>User</a></th><% end %>

    <th>Ratings</th>
		<th style="display: none;">Initial</th>
		<th style="display: none;">Final</th>
		
    <th>Color / Flavor</th>

		<th>Dimensions</th>
		<% @traits.each do |trait| %>
			<th style="display: none;"><%= trait %></th>
		<% end %>

    <th>Setting</th>
		<th style="display: none;">Drank On</th>
    <th>Action</th>
  </tr>	
	</thead>

	<% unless tastings.nil? || tastings.length == 0 %>
		<tbody>
			<% tastings.each do |tasting| %>
			  <tr>
					<% if show_wine && %>
						<td><%= link_to tasting.wine.name, tasting.wine %></td>
					<% end %>
					<% if show_user %>
						<td><%= link_to tasting.user.name, tasting.user %></td>
					<% end %>

			    <td>
						<% if sort %>(<a onclick="sortByColumn('Initial','desc')">+</a>/<a onclick="sortByColumn('Initial','asc')">-</a>) <% end %>
						<b>initial:</b>
						<%= pretty_rating(tasting.rating_first) %><br />
						<% if sort %>(<a onclick="sortByColumn('Final','desc')">+</a>/<a onclick="sortByColumn('Final','asc')">-</a>) <% end %>
						<b>final:</b>
						<%= pretty_rating(tasting.rating_final) %>
					</td>
					<td style="display: none;"><%= tasting.rating_first %></td>
					<td style="display: none;"><%= tasting.rating_final %></td>

			    <td>
						<b>color:</b>
						<span style='background-color: #<%=tasting.color%>;'>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span><br />
						<b>aroma:</b> <%= tasting.adjs_aroma %><br />
						<b>taste:</b> <%= tasting.adjs_taste %><br />
						<b>aftertaste:</b> <%= tasting.adjs_aftertaste %>
					</td>
					<td>
						<% @traits.each do |t| %>
							<% if sort %>(<a href="#" onclick="sortByColumn('<%=t%>','desc')">+</a>/<a href="#" onclick="sortByColumn('<%=t%>','asc')">-</a>) <% end %>
							<b><%= t %>:</b>
							<%= pretty_trait(t, tasting[('trait_'+t).to_sym]) %><br />
						<% end %>
					</td>
					<% @traits.each do |t| %>
					<td style="display: none;">
						<%= tasting[('trait_'+t).to_sym] %>
					</td>	
					<% end %>
					
			    <td>
						<% if sort %>(<a href="#" onclick="sortByColumn('Drank On','desc')">+</a>/<a href="#" onclick="sortByColumn('Drank On','asc')">-</a>) <% end %>
						<b>had on:</b> <%= tasting.drank_on %><br />
			    	<b>had after:</b> <%= tasting.drank_after %><br />
			    	<b>had with:</b> <%= tasting.drank_with %><br />
						<b>would have again:</b> <%= tasting.drank_again %>
					</td>
					<td style="display: none;">
						<%= tasting.drank_on %>
					</td>
					<td>
						<%= link_to 'Duplicate', {:controller => 'tastings', :action => 'duplicate', :id => tasting.id } %> |
						<%= link_to 'Edit', edit_tasting_path(tasting) %> | 
						<%= link_to 'Delete', tasting, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
					</td>
			  </tr>
			<% end %>
		</tbody>
	<% end %>
		
</table><br />