<!DOCTYPE html>
<html>

	<head>
	  <title>Winetracker</title>

	  <%= javascript_include_tag "jquery-1.1.1.min.js" %>
		<%= javascript_include_tag "jquery-ui" %>
		<%= javascript_include_tag "dataTables.min.js" %>
		<%= javascript_include_tag "highcharts.js" %>
		<%= javascript_include_tag "defaults-ns.js" %>
		<%= javascript_include_tag "ratchet.js" %>
		
		<%= stylesheet_link_tag "charts.css" %>
		<%= stylesheet_link_tag "jquery-ui.css" %>
		<%= stylesheet_link_tag "master.css" %>
		<%= stylesheet_link_tag "ratchet.css" %>
		
		
	  <%= csrf_meta_tags %>
	</head>
	
	<body>

		<header class="bar-title">
		  <h1 class="title">WineTracker (m)</h1>
		</header>
		
		<nav class="bar bar-tab">
		  <ul class="tab-inner">
		    <li class="tab-item">
		      <a href="/users">
		        <div class="tab-label">Users</div>
		      </a>
		    </li>
		    <li class="tab-item">
		      <a href="/wines">
		        <div class="tab-label">Wines</div>
		      </a>
		    </li>
		    <li class="tab-item">
		      <a href="/tastings">
		        <div class="tab-label">Tastings</div>
		      </a>
		    </li>
		    <li class="tab-item">
		      <a href="/classification/index">
		        <div class="tab-label">Classes</div>
		      </a>
		    </li>
		    <li class="tab-item">
		      <a href="/charts/index">
		        <div class="tab-label">Charts</div>
		      </a>
		    </li>
		  </ul>
		</nav>
		
		<%= yield %>
		
	</body>
	
</html>
