<!DOCTYPE html>
<html>
	<head>
	  <title>Winetracker</title>

		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "jquery-ui" %>
		<%= javascript_include_tag "defaults-ns" %>

	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= stylesheet_link_tag    "jquery-ui" %>	
	  <%= csrf_meta_tags %>
	</head>

	<body>	
		<div id="top-banner">
			<div id="top-banner-content">
				<div id="logo">
					WineTracker
				</div>
				<div id="sitenav">
					<%= link_to 'Users', '/users' %> |
					<%= link_to 'Wines', '/wines' %> |
					<%= link_to 'Tastings', '/tastings' %> |
					<%= link_to 'Classifications', '/classification/index' %>
				</div>
			</div>
		</div>
		
		<div id="body-wrapper">
			<%= yield %>
		</div>
	</body>
</html>
